.football {
    display: flex;
    margin: auto;
    width: 20%;
    border: 1px solid black;
    padding: 50px;
}

.start {
    margin: auto;
    width: 20%;
}

.updateScore {
    margin: auto;
    width: 20%;
}

.finish {
    margin: auto;
    width: 20%;
}

#scoreOne,
#scoreTwo {
    margin: 0 20px 0 20px;
    width: 80px;
    height: 20px;
    border: 1px solid black;
}
